name: mytodoapp
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  date_field: ^6.0.3+1
  shared_preferences: ^2.5.4
  intl: ^0.20.2
  google_fonts: ^6.3.3
  uuid: ^4.5.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
